TOKEN=SLACKAPITOKENHERE
GREETING="Hello newcomer!\nWe are glad to have you here. \nBefore you continue, please be aware, that scammers could try to scam you. \nSo *never* trade with individuals like "IOTA transaction admin" or similar names. \nDevs won't sell their money, there are no transaction admins. \nHave a nice day, \nthe IOTA community."